<header class="header">
    <nav class="nav">
        <div class="logo">
            <a class="logo-link" href="/" title="Daily Pulse Network">
                ← Daily Pulse
            </a>
        </div>
        <div class="site-title">
            <a href="/SITE_PLACEHOLDER/">SITE_TITLE_PLACEHOLDER</a>
        </div>
        <span class="logo-switches">
            {{- if (not .Site.Params.disableThemeToggle) }}
            <button id="theme-toggle" accesskey="t" title="(Alt + T)">
                <svg id="moon" xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>
            </button>
            {{- end }}
        </span>
    </nav>
</header>
